/*colours
Black: #000
Embers: #B82601
Ivory Black: #1D2731
Stormy: #494E6B
Cloud: #98878F
Sunset: #985E6D
Evening: #192231
*/

html {
	font-size: 16px;
}


/*header*/

header {
	background-color: #B82601;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 6.0625rem;
	max-height: 6.0625rem;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.header {
	display: flex;
    	align-items: center;
	box-sizing: border-box;
	height: 6.0625rem;
	max-height: 6.0625rem;
    	padding: 1.25rem;
	padding-right: 2.5rem;
}

h1 {
    	font-family: "liquida", Arial, Helvetica, sans-serif;
	font-weight: 200;
	font-style: normal;
    	font-size: 2.2rem;
    	flex: 1;
}

h1 a {
	color: #192231;
	text-decoration: none;
}

nav ul {
	display: flex;
	font-family: "cc-pixel-arcade-display", Arial, Helvetica, sans-serif;
}

nav li {
	margin-left: 4rem;
}

nav a {
    	color:hsl(0, 0%, 95%);
    	text-decoration: none;
	font-family: "stratum-1-web", Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	padding: 3px;
}

nav button {
	background-color: #00000000;
	color:hsl(0, 0%, 95%);
	text-decoration: none;
	border: none;
	font-size: 1.25rem;
}

/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbutton {
	font-size: 1.25rem;
	border: none;
	outline: none;
	color: hsl(0, 0%, 95%);
	padding: 3px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

nav a:hover, .dropbutton:hover {
	background-color: #494E6B;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #B82601;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	color: hsl(0, 0, 95%);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-family: "cc-pixel-arcade-display", Arial, Helvetica, sans-serif;
}

.dropdown-content a:hover {
	background-color: #494E6B;
}

.dropdown:hover .dropdown-content {
	display: block;
}


/*body*/

body {
    	background-color: #1D2731;
    	color: #E7DFDD;
    	font-family: sans-serif;
	font-style: normal;
    	padding-top: 6.0625rem;
}

@media screen and (min-width:1400px) {
	nav a, .dropdown .dropbutton {
		font-size: 2rem;
	}
}

h2 {
	font-size: 2.5rem;
	color: #98878F;
	margin-bottom: 0.5rem;
	font-family: serif;
	font-style: italic;
}

p {
	font-size: 1.2rem;
}


/*footer*/

footer {
	background-color: #B82601;
	width: 100%;
	height: 9.375rem;
	padding: 2rem;
	box-sizing: border-box;
	position: relative;
	bottom: 0;
	left: 0;
}

.footer {
	margin: 0;
	height: 5.375rem;
}

.footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer li {
	color: #1D2731;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0 10rem;

}

li#author {
	margin: 16px 0;
	vertical-align: middle;
}

img.github, .footer ul li a {
	width: 50px;
	height: 50px;
	display: inline-block;
}
